.fonteSistema, span, body {
    font-family: "Franklin Gothic Book", "Franklin Gothic Demi", Arial, sans-serif;
    margin-left: 0px;
}

input[type=text], select, textarea {
    border: 2px solid #A4B7BB;
    background-color: #DEEFF1;
    color: black;
    margin-left: 0px;
    margin-bottom: 0px;
}


h3 {
    page-break-after: avoid;
}

.navbar {
    display: none;
}

.table td,
.table th {
    background-color: #fff !important;
}

.btn > .caret,
.dropup > .btn > .caret {
    border-top-color: #000 !important;
}

.label {
    border: 1px solid #000;
}

.table {
    border-collapse: collapse !important;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
}

}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.selectRowTD td {
    background-color: yellow;
    border-color: orange;
    font-weight: bold;
}

th {
    border-width: 2px;
    border-color: white;
    border-style: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.TableOs {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

    .TableOs thead th {
        background-color: #98c723;
        border: solid 1px #DDEEEE;
        color: white;
        padding: 10px;
        text-align: left;
    }

    .TableOs tbody td {
        border: solid 1px #DDEEEE;
        color: #333;
        padding: 12px;
        background-color: white;
        text-align: center;
    }

    .TableOs tbody th {
        background-color: #98c723;
        color: white;
    }


table {
    border: 0px None white;
    border-collapse: separate;
    border-spacing: 3px;
    margin-left: 6px;
    margin-right: 0px;
}

input[type=submit] {
    -moz-box-shadow: inset 0px 1px 0px 0px #78c732;
    -webkit-box-shadow: inset 0px 1px 0px 0px #78c732;
    box-shadow: inset 0px 1px 0px 0px #78c732;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4ff54', endColorstr='#5cb811');
    background-color: #a4ff54;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    color: #306108;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #aade7c;
}

    input[type=submit]:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #a4ff54) );
        background: -moz-linear-gradient( center top, #5cb811 5%, #a4ff54 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#a4ff54');
        background-color: #5cb811;
    }

    input[type=submit]:active {
        position: relative;
        top: 1px;
    }

h5 {
    font-weight: bold;
    font-size: smaller;
    padding-top: 2px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: darkorange;
}

.principal {
    width: 100%;
    height: 100%;
}

.separadorBranco {
    display: table;
    margin: 0 auto;
    width: 1220px;
    height: 10px;
}

.divSomeSelect {
    display: none;
    width: 0%;
}

.separadorVerde {
    display: table;
    margin: 0 auto;
    background-color: #72951A;
    width: 1220px;
    height: 15px;
}

.divCabec {
    display: table;
    margin: 0 auto;
    background-color: #59B0B9;
    width: 1220px;
    height: 80px;
    line-height: 20px;
}

.divLogCS {
    float: right;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.divInfFranquia {
    float: left;
    margin-top: 0px;
    font-size: x-large;
    margin-left: 20px;
    padding-top: 10px;
    width: 30%;
    float: left;
}

.divInfAuxCabec {
    width: 52%;
    float: left;
}

divInfLogoCS {
    width: 26%;
    float: right;
}

.divPrincipal {
    display: table;
    margin: 0 auto;
    width: 1220px;
    height: auto;
}

.lkSmall {
    font-size: small;
    color: blue;
}

.ajax__calendar_container {
    width: 210px;
    height: 190px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}

.ajax__calendar_body {
    width: 210px;
    height: 190px;
}

.ajax__calendar_footer {
    margin-top: -16px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    width: 218px;
    margin-left: -5px;
}

#divLoad {
    position: absolute;
    z-index: 99999;
    margin-top: 100px;
    margin-left: 500px;
    background-color: white;
    border: solid;
    border-color: orange;
}

#imgLoad {
    margin-left: 40px;
}

#lbNome {
    font-size: medium;
}

#lbModulo {
    font-size: medium;
}

.mensErro {
    color: red;
    font-weight: bold;
}

.text-hidden {
    transform: scaleX(0);
    transform-origin: 0% 40%;
    transition: all .5s ease;
}

.text {
    transform: scaleX(1);
}
    