<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    
    <!--<globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="pt-BR"/>-->
    <customErrors mode="Off" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <sessionState timeout="9999" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation targetFramework="4.0" debug="true" />
  </system.web>
  <connectionStrings>
    <add name="cnxFranquia" connectionString="Data Source=10.0.0.186;Initial Catalog=Principal;Persist Security Info=True;User ID=userFranquia;Password=2FACA908-D931-4DA8-BC99-497C7B515021"
      providerName="System.Data.SqlClient" />
    <add name="PrincipalConnectionString" connectionString="Data Source=FURY;Initial Catalog=Principal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="usuarioBanco" value="userFranquia" />
    <add key="senhaBanco" value="2FACA908-D931-4DA8-BC99-497C7B515021" />
    <add key="porcentagem" value="50" />
    <add key="pcHabilitacao" value="6" />
    <add key="pcAss24hs" value="32" />
    <add key="vlGuinchoCarro" value="150,00" />
    <add key="vlGuinchoUtilitario" value="250,00" />
    <add key="liberado1" value="000760-LUCIA" />
    <add key="liberado2" value="000760-JULIANA" />
  </appSettings>
</configuration>
<!--ProjectGuid: E3777D59-D739-4DC4-A89E-72D3D1C1B5B4-->